---
import SiteShell from '../layouts/SiteShell.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<SiteShell title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<section>
		<h1>Starter - a Minimalist Personal Blog Template.</h1>
		<p>
			This project is being tailored into a personal learning blog. The structure is in place and
			content sections will be refined in upcoming tickets.
		</p>
	</section>
</SiteShell>

